@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins:wght@100;500&display=swap');
:root{
  --blue:#e1f2f7;
  --dark-blue:#319bba;
  --pink:#f8e5e5;
  --dark-pink:#fa255e;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--blue);
  color: var(--dark-pink);
  text-align: center;
}

.container{
  margin-top:100px ;
  
  width: 80% auto;
}

h1{
  margin: 20px;
  padding: 30px;
  border-bottom: 1px solid var(--dark-pink);

}

input{
  margin: 30px;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: var(--blue);
  cursor: pointer;
  border: 1px solid var(--dark-pink);
  color: var(--dark-pink);
  width: 30%;
  text-align: center;
}
input:hover{
  background-color: var(--dark-pink);
  color: var(--blue);
  transition: background-color 0.5s ease-out ;
}
input:focus{
  outline: none;
  border: 1px solid var(--dark-pink);
  background-color: var(--dark-pink);
  color: var(--blue);
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: var(--dark-pink);
}

input:active{
  background-color: var(--dark-pink);
  color: var(--blue);
}

button{

  padding: 10px;
  border: none;
  /* border: 1px solid var(--dark-blue); */
  border-radius: 10px;
  background-color: #3d93ad;
  color: var(--blue);
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px #75bed631;

}
 


button:hover{
  box-shadow: 5px 5px 5px #32535d5e;
  background-color: #319bba;
}
button:active{
  background-color: var(--blue) ;
  border: 1px solid var(--dark-pink);

  color: var(--dark-blue);
  box-shadow: none;

}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: var(--darkgrey);
  color: #666666;
  cursor: auto;
}
label{
  font-size: 24px;
  
}

.output{
  padding: 20px;
  font-size: 20px;
  font-weight:bold ;
}

